.activity {
  padding-bottom: var(--specific-ident);
}

.activity__list {
  display: flex;
}

.activity__item {
  position: relative;
}

.activity__item:not(:first-child) {
  margin-left: var(--specific-ident-fifth);
}

.activity__thumb {
  position: relative;
}

.activity__img {
  display: block;
}
