.peculiarities .container {
  display: flex;
}

.peculiarities__list {
  display: flex;
}

.peculiarities__item:not(:first-child) {
  margin-left: var(--specific-ident-fifth);
}

.peculiarities {
  padding: var(--specific-ident) 0;
}

.peculiarities__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.peculiarities__link {
  background-color: var(--eighth-color);
  height: 120px;
  width: 270px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
}
